<template>
<div>
      <label for="fn">Task</label>
      <input type="text" value.bind="taskDesc" placeholder="Enter todo task...">
      <button type="button" click.delegate="addTodo()">Add todo</button>
      <br>
      <ul>
        <li repeat.for="todo of tasks">
          <input type="checkbox" checked.bind="todo.done">
          <span>
            ${todo.task}
          </span>
          <button click.trigger="removeTodo(todo)">Remove</button>
        </li>    
      </ul>

    </div>
</template>