<template>
    <require from="./task-detail"></require>
  <div class="col-md-2">
    <table>
      <tr>
        <th>Task</th>
      </tr>
      <tr repeat.for="task of tasks">
        <td click.delegate="click(task)">${task.task}
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-10">
    <task-detail todo.bind="selectedTask"></task-detail>
  </div>
</template>
